
.menu_active:hover{
    font-weight: bold;
    border-bottom: royalblue solid 1px ;
}

.navbar-brand{
    font-size: x-large; 
    color:rgb(87, 87, 134);
}

.nav-link:hover{
color:rgb(10, 10, 58);
}

p.heading{
    
    color: rgb(50, 50, 105);
    font-size: 50px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

p{
    font-size: 20px;
    color:rgb(31, 31, 36)
}

img{
    margin-top: 70px;
}

.card-text{
    font-family: cursive;
    text-align: center;
}